<template>
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" @click="show=!show">
            <i :class="`${show ? 'fas' : 'far'} fa-comment-dots`"></i>
        </a>
    </li>
</template>

<script>
    export default {
        name: 'chat-button',
        $sync: {"admin_show_total_chat": 'show'},
        data () {
            return {
                show: window.ljs.config('show-all-admin-message-box', false)
            };
        }
    }
</script>