<template>
    <div v-show="show">
        <div :class="`card direct-chat direct-chat-primary ${online_show ? 'direct-chat-contacts-open' : ''} ${hidden ? '' : 'collapsed-card'}`">
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                    <button type="button" title="Online" class="btn btn-tool" @click="online_show=!online_show">
                        <span class="badge badge-primary">{{online.length}}</span>
                    </button>
                    <button type="button" @click="hidden=!hidden" class="btn btn-tool">
                        <i :class="`${!hidden ? 'far fa-window-maximize' : 'fas fa-minus'}`"></i>
                    </button>
                    <button type="button" class="btn btn-tool" @click="show=!show"><i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="direct-chat-messages" ref="direct">

                    <div v-for="(mess, key) in list" :key="key" :class="`direct-chat-msg ${mess.user_id === user.id ? 'right':''}`">
                        <div class="direct-chat-infos clearfix">
                            <span :class="`direct-chat-name ${mess.user_id === user.id ? 'float-right':'float-left'}`">{{mess.user.name}}</span>
                            <span :class="`direct-chat-timestamp ${mess.user_id === user.id ? 'float-left':'float-right'}`">{{mess.created_at}}</span>
                        </div>
                        <img class="direct-chat-img" :src="`/${mess.user.avatar}`" alt="message user image">
                        <div class="direct-chat-text">{{mess.message}}</div>
                    </div>
                </div>

                <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                        <li v-for="(u, uk) in online" v-if="u" :key="uk">
                            <a href="javascript:void(0)">
                                <img class="contacts-list-img" :src="`/${u.avatar}`">
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        {{u.email}}
                                        <small class="contacts-list-date badge badge-success text-white float-right">
                                            {{u.id === user.id ? 'You' : u.roles.join(', ')}}
                                        </small>
                                    </span>
                                    <span class="contacts-list-msg">{{u.name}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <span v-if="typing" class="ml-1 text-sm text-gray">
                    {{typing}} is typing...
                </span>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="input-group">
                    <input type="text" v-model="text" @keyup="activeUser" @keyup.enter="send" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary" @click="send">Send</button>
                    </span>
                </div>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
</template>

<script>
    export default {
        name: 'chat-list',
        props: ['user'],
        namespace: "lar.lte_admin.extend.lte_admin_chat",
        $sync: {"admin_show_total_chat": 'show'},
        data () {
            return {
                show: window.ljs.config('show-all-admin-message-box', false),
                hidden: window.ljs.config('hidden-all-admin-message-box', true),
                online_show: false,
                text: '',
                list: [],
                typing: null,
                typing_timer: null,
                online: [],
                offline: []
            };
        },
        watch: {
            show (val) {
                ljs.setCfg('show-all-admin-message-box', val, true);
                this.scrollToBottom();
            },
            hidden (val) {
                ljs.setCfg('hidden-all-admin-message-box', val, true);
            }
        },
        computed : {
            message () { return this.jax.call('jax.massage'); },
            channel () { return this.echo.join('lte-admin-chat'); }
        },
        mounted () {
            this.message.list().then((data) => {
                this.list = data;
                this.scrollToBottom();
            });
        },
        methods: {
            echo_mount () {
                this.channel
                    .here('ws_user_here')
                    .joining('ws_user_join')
                    .leaving('ws_user_leave')
                    .listen('ws_events.message');
                this.channel.listenForWhisper('ws_events.typed');
            },
            ws_user_here (users) {
                this.online = users;
            },
            ws_user_join (user) {
                this.online.push(user);
                if (!this.offline[user.id]) {
                    "toast:success".exec(user.name, 'OnLine user');
                } else {
                    clearTimeout(this.offline[user.id]);
                    this.offline[user.id] = undefined;
                }
            },
            ws_user_leave (user) {
                this.online = this.online.filter((i) => i.id !== user.id);
                if (!this.offline[user.id]) {
                    this.offline[user.id] = setTimeout(() => {
                        "toast:warning".exec(user.name, 'OffLine user');
                        this.offline[user.id] = undefined;
                    }, 2000);
                }
            },
            ws_events_message (data) {
                this.list.push(data.message);
                this.typing = null;
                this.scrollToBottom();
            },
            ws_events_typed ({user}) {
                if (this.typing_timer) { clearTimeout(this.typing_timer); }
                this.typing_timer = setTimeout(() => { this.typing = null;}, 2000);
                this.typing = user;
            },
            send () {
                this.jax.call('jax.massage').send_message(this.text);
                this.list.push({
                    user_id: this.user.id,
                    message: this.text,
                    user: this.user,
                    created_at: moment().format('YYYY-MM-DD HH:MM:SS')
                });
                this.text = "";
                this.scrollToBottom();
            },
            activeUser () {
                this.channel.whisper('ws_events.typed', {user: this.user.name, id: this.user.id});
            },
            scrollToBottom () {
                ljs.onetime(() => {this.$refs['direct'].scrollTop = this.$refs['direct'].scrollHeight;});
            }
        }
    }
</script>